<div>
  <h1>DOT components integration</h1>
  @if (currentStep === step.DOCUMENT_CAPTURE) {
    <div>
      <app-document-auto-capture
        (photoTaken)="handlePhotoTaken($event)"
        (captureError)="handleError($event)"
        (back)="handleStepChange($event)"
      >
      </app-document-auto-capture>
      @if (imageUrl) {
        <app-result [imageUrl]="imageUrl"></app-result>
      }
    </div>
  }
  @if (currentStep === step.FACE_CAPTURE) {
    <div>
      <app-face-auto-capture
        (photoTaken)="handlePhotoTaken($event)"
        (captureError)="handleError($event)"
        (back)="handleStepChange($event)"
      >
      </app-face-auto-capture>
      @if (imageUrl) {
        <app-result [imageUrl]="imageUrl"></app-result>
      }
    </div>
  }
  @if (currentStep === step.MAGNIFEYE_LIVENESS) {
    <div>
      <app-magnifeye-liveness
        (photoTaken)="handlePhotoTaken($event)"
        (captureError)="handleError($event)"
        (back)="handleStepChange($event)"
      >
      </app-magnifeye-liveness>
      @if (imageUrl) {
        <app-result [imageUrl]="imageUrl"></app-result>
      }
    </div>
  }
  @if (currentStep === step.SMILE_LIVENESS) {
    <div>
      <app-smile-liveness
        (photoTaken)="handlePhotoTaken($event)"
        (captureError)="handleError($event)"
        (back)="handleStepChange($event)"
      >
      </app-smile-liveness>
      @if (imageUrl) {
        <app-result [imageUrl]="imageUrl"></app-result>
      }
    </div>
  }
  @if (currentStep === step.SELECT_COMPONENT) {
    <app-component-select (btnClick)="handleStepChange($event)">
    </app-component-select>
  }
</div>
