.primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375em;
  margin: 0 auto;
  padding: 0.625em 1em;
  background: #00bfb2;
  color: white;
  border: 0;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin: 0.5rem;
}

.primary[disabled] {
  background-color: lightgrey;
  color: gray;
  cursor: not-allowed;
}
