.app {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #404354;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.container {
  width: 40rem;
  height: 25rem;

  img {
    margin-top: 1rem;
    max-width: 100%;
  }
}
