.cameraButtonGroup {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.cameraButtonGroup button {
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius:0%;
  border-bottom-left-radius:0%;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.625rem 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease;
  color: black;
  backdrop-filter: blur(0.375rem);
  -webkit-backdrop-filter: blur(0.375rem);
}