.wrapper {
  position: absolute;
  left: 50%;
  z-index: 2;
  bottom: var(--instruction-bottom);
}

.wrapperPortrait {
  transform: translateX(-50%) translateY(-50%);
}

.wrapperLandscape {
  transform: translateX(-50%) translateY(50%);
}

.instruction {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 1rem;
  margin: 0 auto;
  padding: 0.583rem 0.666rem;
  color: black;
  font-weight: bold;
  font-family: monospace;
  border: 0;
  line-height: 1em;
  backdrop-filter: blur(0.375rem);
  -webkit-backdrop-filter: blur(0.375rem);
  transition: all 0.5s ease-in-out;
  font-size: var(--instruction-font-size, inherit);
}

.candidateSelection {
  background: rgba(8, 226, 23, 0.4);
}

.outOfCandidateSelection {
  background: rgba(255, 255, 255, 0.4);
}

.wrap {
  white-space: break-spaces;
}

.nowrap {
  white-space: nowrap;
}