.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  z-index: 1;
}

.notReady {
  height: inherit;
  aspect-ratio: 16/9;
}

@media (orientation: portrait) and (max-width: 1199px) {
  .notReady {
    aspect-ratio: 9/16;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.476);
  font-weight: bold;
  backdrop-filter: blur(0.375rem);
  -webkit-backdrop-filter: blur(0.375rem);
}

.text {
  border-radius: 0.25rem;
  padding: 0.583rem 0.666rem;
  margin: 0.8rem 0;
  line-height: 1rem;
  max-width: 80%;
  color: black;
  font-size: 1rem;
}